{% extends './base.html' %} 
{% block content %}
<div class="text-center">
  <h1>Update Post</h1>
</div>

<form method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      id="title"
      value={{post.title}}
    />
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">BODY</label>
    <input
      type="text"
      name="body"
      class="form-control"
      id="body"
      value={{post.body}}
    />
  </div>

  <div class="mb-3">
    <label for="body" class="form-label">Image</label>
    <input
      type="text"
      name="image"
      class="form-control"
      id="body"
      value={{post.image}}
    />
  </div>

  <button type="submit" class="btn btn-dark">update</button>
</form>
{% endblock content %}
